.customer {
    max-width: 100vw;
    height: 500px;
    margin-top: 5%;
}

.customer .flex {
    flex-direction: row;
    height: 100%;
}

.leftcustomer {
    background-image: url('images/customerbg.png');
    width: 50%;
    padding: 100px 5% 120px;
    height: 100%;
    text-align: center;
}

.leftcustomer .flex {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.leftcustomer ul {
    display: flex;
    color: $primaryColor;
    font-size: 2rem;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

.leftcustomer li {
    transition: .2s;
}

.leftcustomer li:hover, 
.leftcustomer li:focus {
    transform: scale(1.75);
}

.leftcustomer h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.7rem;
}

.leftcustomer p {
    font-size: .8rem;
    font-style: italic;
}

.leftcustomer h4 {
    font-weight: normal;
    color: $primaryColor;
    font-size: .8rem;
    margin: 15px 0;
}

.leftcustomer a i {
    color: $primaryColor;
}

.customerwords {
    height: 100%;
}

.customerwords .flex {
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
}

.rightcustomer {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/video.png');
    width: 50%;
    height: 100%;
    padding: 10% 5%;
    background-size: cover;
    background-position: center center;
    color: white;
    text-transform: uppercase;
}

.rightcustomer .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rightcustomer h3 {
    font-weight: normal;
    font-size: .75rem;
    letter-spacing: .3rem;
    margin-top: 10px;
}

.play {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $pinkColor;
    text-align: center;
    line-height: 65px;
    border: 7px solid rgba(240, 127, 132, .5);
    color: white;
    font-size: 1.5rem;
    background-clip: padding-box;
    margin-bottom: 40px;
    transition: .3s;
}

.play:hover,
.play:focus {
    background-color: darken($pinkColor, 5%);
    color: black;
    border: 7px solid $pinkColor;
    background-clip: padding-box;
}

.play i {
    transform: scaleX(1.7);
    margin-left: 5px;
}

.plantstore {
    display: flex;
    justify-content: space-between;
    width:90%;
}