header {
    height: 675px;
    overflow: hidden;
}

.headwrap {
    max-width: 100vw;
}

.topbar {
    padding: 2% 0px;
}

.topbar .flex {
    justify-content: space-between;
    align-items: center;
}

.topbar .flex ul {
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.topelement {
    display: flex;
    width: calc(100% / 3);
    align-items: center;
}

.top1 ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.top1 li {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .75rem;
}

.topelement a {
    transition: .2s;
    color: black;
    text-decoration: none;
}

.topelement a:hover,
.topelement a:focus {
    color: $primaryColor;
}

.topelement li {
    transition: .2s;
}

.topelement li:hover,
.topelement li:focus {
    transform: scale(1.05);
}

.top2 {
    justify-content: center;
}

.top2 img {
    transition: .2s;
}

.top2 img:hover,
.top2 img:focus {
    transform: scale(1.05);
}

.top2:hover,
.top2:focus {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
    animation-delay: .1s;
}

.top3 {
    justify-content: flex-end;
    position: relative;
}

.top3 ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-1px, 1px);
        transform: translate(-1px, 1px);
    }
    40% {
        -webkit-transform: translate(-1px, -1px);
        transform: translate(-1px, -1px);
    }
    60% {
        -webkit-transform: translate(1px, 1px);
        transform: translate(1px, 1px);
    }
    80% {
        -webkit-transform: translate(1px, -1px);
        transform: translate(1px, -1px);
    }
    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.hero {
    background-image: linear-gradient( rgba(255, 255, 255, 0.3)), url("images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.headingheight {
    height: 60%;
    position: absolute;
    bottom: 10%;
    width: 100%;
    text-align: center;
}

.headtop {
    width: 95%;
}

.headingheight .flex {
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headtop .flex {
    justify-content: space-between;
    flex-direction: row;
}

.headtop i {
    font-size: 2rem;
    align-self: center;
}

.headingwords h2 {
    color: $primaryColor;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom:25px;
}

.hero .flex ul {
    width: 100px;
    font-size: .75rem;
    justify-content: space-between;
    margin-bottom: 50px;
    flex-direction: row;
    display: flex;
}

.hero .flex li,
.hero .flex i {
    transition: .2s;
}

.hero .flex li:hover,
.hero .flex i:hover, 
.hero .flex li:focus,
.hero .flex i:focus,{
    color: $primaryColor;
}

.headingwords {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopnow {
     background-color: $pinkColor;
    width: 150px;
    line-height: 50px;
    text-transform: uppercase;
    color: white;
    font-size: .75rem;
    margin-top: 50px;
    transition: .2s;
}

.shopnow:hover,
.shopnow:focus {
    background-color: darken($pinkColor, 5%);
}
.fa-shopping-bag{
position: relative;
}
.fa-shopping-bag::after {
    content: "2";
    position: absolute;
    background-color:$blueColor;
    border-radius:50%;
    height:17px;
    width:17px;
    font-size:.75rem;
    text-align: center;
    right:-10px;
    bottom:10px;
    line-height: 1.5;
}

a i {
    color:black;
}