@import "partials/_normalize.scss";
@import "partials/_variables.scss";

@import "partials/_header.scss";
@import "partials/_home.scss";
@import "partials/_plants.scss";
@import "partials/_popular.scss";
@import "partials/_customer.scss";
@import "partials/_blog.scss";
@import "partials/_newsletter.scss";
@import "partials/_footer.scss";
@import "partials/_title.scss";
// colors
// grey: #888890
// light blue: #a8edea
// icky salmon color: #f6b895
// pink: #f07f84
body {
    background-color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

h1,h2,h3,h4,ul,p {
    margin: 0 auto;
    padding: 0px;
}

h1 {
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 400;
    color: #1e1e2a;
}

.wrap,
.headwrap,
.footwrap,
.mainwrap,
.endwrap {
    margin: 0 auto;
    height: 100%;
}

.flex {
    display: flex;
    height: 100%;
}

.mainwrap,
.footwrap,
.endwrap {
    width: 70%;
    max-width: 1060px;
}

ul {
    list-style: none;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

button {
    border:none;
}

@media (max-width: 1060px) {
    // recenter's the cart button vertically
    .galleryoverlay .flex {
        height: 70%;
    } // recenter's text on the video
    .rightcustomer {
        padding-bottom: 15px;
    }
    .plantstore {
        flex-direction: column;
        align-items: center;
    }
    .leftcustomer {
        padding: 50px 2% 100px;
    } //  keeps the blogs text visable. is there a better way to "cancel" a hover?
    .postbox:hover .blogtext,
    .postbox:focus .blogtext {
        height: 250px;
    } // keeps the email icon where it's supposed to be
    .newsletter span {
        right: 110px;
    }
    // since i assume it's no longer a computer let's just get rid of that margin
    .mainwrap,
    .footwrap,
    .endwrap {
        width: 90%;
    }
}

@media (max-width: 920px) {
    // keeping the header spaced properly
    .shopnow {
        margin-top: 30px;
    }
    h1 {
        line-height: 1.2;
    }
    .top1 {
        width: 50%;
    }
    .top3 ul {
        width: 50%;
    } //    recenters the backround image of the office plant
    .officeplant {
        background-position: center center;
    }
    // recenters the 'add to cart' button
    .galleryoverlay .flex {
        height: 60%;
    }
    .cart {
        max-width: 150px;
    }
    .cart h3 {
        font-size: 1rem;
    }
    // switches to 3 gallery items
    .galleryitem {
        width: calc((100% / 3) - 15px);
    }
    .galleryitem:last-child {
        display: none;
    } // sets these as a column instead of beside each other
    .customer {
        height: auto;
    }
    .customer .flex {
        flex-direction: column;
    }
    .leftcustomer,
    .rightcustomer {
        width: 100%;
        height: 400px;
    }
    .leftcustomer {
        padding: 50px 2% 100px;
    }
    .plantstore {
        flex-direction: row;
        align-items: center;
        width: 70%;
    }
    .rightcustomer .flex {
        justify-content: center;
    } // switches the blog to 1 column
    .posts .flex {
        flex-direction: column;
        align-items: center;
    }
    .blogtext {
        height: 150px;
    }
    .postbox:hover .blogtext,
    .postbox:focus .blogtext {
        height: 150px;
    }
    .postbox {
        width: 80%;
        height: auto;
        margin-bottom: 5%;
    }
    .postbox:last-child {
        margin-bottom: 0;
    }
    .blogtext p {
        visibility: visible;
    }
    .blogoverlay {
        height: 74%;
    } // helps center the icons
    .icons .flex {
        justify-content: space-around;
        flex-wrap: wrap;
    } // the paragraph got small
    .newsletter p {
        width: auto;
    } // breaking the footer
    .footwrap .flex {
        flex-direction: column;
        height: 100%;
    }
    .over {
        width: 100%;
        height: 300px;
    }
    .instabox .flex {
        flex-direction: row;
    }
    .footbreak {
        height: 250px;
        margin-top: 5%;
    }
    .footbreak .flex {
        height: 80%;
    }
    .instagram .flex,
    .instagram {
        height: 100%;
    }
    .endwrap {
        width: 90%;
    }
}

@media (max-width: 700px) {
    // keeps the lines under the title from breaking stuff
    section:hover .undertitle :nth-child(even), 
    section:focus .undertitle :nth-child(even) {
        margin: 0px 150px;
    } //    keeps the text from overlapping
    .interior h2 {
        line-height: 1;
    } // breaks up the pictures brick so it's tall
    .plants {
        height: 1000px;
        width: 70%;
        min-width: 400px;
        margin: 0 auto;
        margin-top: 10%;
    }
    .plants .flex {
        flex-direction: column;
    }
    .airplant {
        width: 100%;
        height: 50%;
    }
    .airplant:hover, 
     .airplant:focus {
        margin: 0;
        box-shadow: none;
    }
    .plantstop {
        height: 50%;
    }
    .plantstop .flex {
        flex-direction: row;
    }
    .rightplants {
        width: 100%;
        height: 50%;
    }
    .officeplant {
        width: 50%;
    }
    .houseplant {
        background-size: inherit;
        background-position: inherit;
    }
    .houseplant:hover,
     .houseplant:focus {
        transform: rotate(0turn);
    }
    .officeplant:hover,
    .officeplant:focus {
        margin-top: 0px;
    }
    .contplants:hover,
    .contplants:focus {
        box-shadow: none;
    } // keeps the blog text visable
    .blogtext {
        height: 180px;
    }
    .postbox:hover .blogtext,
     .postbox:focus .blogtext {
        height: 180px;
    }
    // email again
    .newsletter span {
        right: 90px;
    }
    .plantstore {
        width: 80%;
    } // breaking the footer again
    .underbreak {
        margin-bottom: 5%;
        justify-content: space-around;
    }
    .footbreak {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .instagram {
        padding: 0px;
    }
    .foottitle {
        margin-bottom: 15px;
    }
    .account,
    .services {
        width: auto;
    }
}

@media (max-width: 550px) {
    // recenters the top bar
    .top1 {
        width: 70%;
        margin-right: 15px;
    }
    .top3 ul {
        width: 70%;
    }
    .top1 li {
        font-size: .6rem;
    } // recenters the nav above the gallery
    .popular ul {
        max-width: 100%;
    }
    // switches the gallery to two columns
    .galleryitem {
        width: calc((100% / 2) - 15px);
    }
    .galleryitem:last-child {
        display: block;
    }
    .galleryoverlay .flex {
        height: 60%;
    }
    // keeps the text from overlapping
    .interior h2 {
        line-height: 1.2;
    } // recenters the video text
    .plantstore {
        flex-direction: column;
    } // makes the icons a little smaller so they look better
    .icons img {
        transform: scale(.8);
    } // yeah it's the email again
    .newsletter span {
        right: 70px;
    } //   keeps the instagram box from doing weird stuff
    .instagram {
        width: 50%;
    }
}

@media (max-width: 480px) {
    // keeps the lines under the title from breaking stuff
    section:hover .undertitle :nth-child(even),
    section:focus .undertitle :nth-child(even) {
        margin: 0px 100px;
    } // keeps the picture brick centered
    .plants {
        min-width: 350px
    } //    keeps the blog text visable
    .blogtext {
        height: 210px;
    }
    .postbox:hover .blogtext,
    .postbox:focus .blogtext {
        height: 210px;
    } // one last time
    .newsletter span {
        right: 50px;
    }
}