footer {
    border-top: 1px solid #e6e5e1;
    line-height: 1.5rem;
    padding-top:5%;
}

footer a {
    color: $primaryColor;
    text-decoration: none;
    transition: .2s;
}

footer a:hover {
    color: black;
}

footer ul,
footer h3 {
    margin: 0;
    font-weight: normal;
    text-transform: capitalize;
}

footer .undertitle {
    margin-top: 15px;
}

.footwrap {
    width: 70%;
}

.footwrap .flex {
    height: 350px;
}

.footbreak,
.underbreak {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}

.over {
    width: 65%;
    padding: 0px 15px 0px 0px;
}

.over .flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.over p {
    color: $primaryColor;
    font-size: .8rem;
}

footer ul {
    font-size: .8rem;
    color: $primaryColor;
}

.over span {
    color: black;
    font-weight: bold;
}

.info {
    width: 80%;
}

.socialmedia {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.socialmedia i {
    color: black;
    width: 10px;
    height: 10px;
    transition: .2s;
    font-size: 1.5rem;
}

.socialmedia i:hover {
    color: $primaryColor;
}

.services {
    width: 50%;
}

.services .flex {
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    align-items: flex-start;
}

.services .undertitle {
    transition: 1s;
}

.services:hover .undertitle {
    margin-left: 80px;
}

.account {
    width: 50%;
}

.account .flex {
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
    align-items: flex-start;
}

.account .undertitle {
    transition: 1s;
}

.account:hover .undertitle {
    margin-left: 80px;
}

.instagram {
    padding: 0px 0px 0px 10px;
    width: 40%;
    height: 80%;
}
.instagram .flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height:95%;
}

.postbox h3 {
    margin: 0;
}

.instabox {
    height: calc((70px * 2) + 17px);
    min-width: calc((70px *3) + 10px);
}

.instabox .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    flex-direction: row;
}

.instabox img {
    max-width: 100%;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.instagram h3 {
    margin: 0;
}

.instabox img:hover {
    -webkit-animation: instawobble 0.8s ease-in-out;
    animation: instawobble 0.8s ease-in-out;
}

@keyframes instawobble {
    0%,
    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
        -webkit-transform-origin: 50% 20%;
        transform-origin: 50% 20%;
    }
    15% {
        -webkit-transform: translateX(-10px) rotate(-4deg);
        transform: translateX(-1px) rotate(-4deg);
    }
    30% {
        -webkit-transform: translateX(7px) rotate(4deg);
        transform: translateX(7px) rotate(4deg);
    }
    45% {
        -webkit-transform: translateX(-5px) rotate(-2.5deg);
        transform: translateX(-5px) rotate(-2.5deg);
    }
    60% {
        -webkit-transform: translateX(3px) rotate(1.7deg);
        transform: translateX(3px) rotate(1.7deg);
    }
    75% {
        -webkit-transform: translateX(-1px) rotate(-.8deg);
        transform: translateX(-1px) rotate(-.8deg);
    }
}

.payment {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-weight: normal;
}

.payment {
    font-weight: normal;
}

.payment img {
    transition: all .5s;
}

.payment img:hover {
    transform: scale(1.2);
}

.instagram .undertitle {
    transition: 1s;
}

.instagram:hover .undertitle {
    margin-left: 170px;
}

.end {
    border-top: 1px solid #e6e5e1;
    margin-top: 5%;
}

.end h4 {
    color: $primaryColor;
    font-weight: normal;
    font-size: .75rem;
    margin: 0;
}

.end a {
    color: black;
    text-decoration: none;
}

.endwrap {
    width: 70%;
    padding: 2% 0px;
    margin: 0 auto;
}

.end .flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}