.sectiontitle .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectiontitle h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-bottom: 25px;
}

.titleline {
    background-color: $blueColor;
    width: 30px;
    height: 2px;
    float: left;
}

section .undertitle :nth-child(even) {
    transition: 2s;
    background-color: #f5efef;
}

section:hover .undertitle :nth-child(even),
section:focus .undertitle :nth-child(even) {
    margin: 0px 200px;
    background-color: $blueColor;
}

.sectiontitle {
    margin-bottom: 5%;
    text-transform: capitalize;
}
