@import "partials/_mixins.scss";
@import "partials/_normalize.scss";
@import "partials/_variables.scss";
@import "partials/_typography.scss";

@import "partials/_header.scss";
@import "partials/_home.scss";
@import "partials/_plants.scss";
@import "partials/_popular.scss";
@import "partials/_customer.scss";
@import "partials/_blog.scss";
@import "partials/_newsletter.scss";
@import "partials/_footer.scss";
@import "partials/_title.scss";


// colors
// grey: #888890
// light blue: #a8edea
// light grey: #f5efef
// light grey 2: #dddfed
// pink: #ff9a9e
// other light blue: #79dad6
// icky salmon color: #f6b895
// pink but not that salmon color or the first pink: #f07f84

body {
    background-color: white;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
}

h1,h2,h3,h4,h5,h6,ul,p {
    margin:0 auto;
    padding: 0px;
}

h1 {
    font-size: 3rem;
    text-transform:capitalize;
    font-weight: 400;
    color:#1e1e2a;
}

.wrap, .headwrap, .footwrap, .mainwrap{
    margin: 0 auto;
    height:100%;
}

.flex {
    display: flex;
}

.mainwrap {
    width: 70%;
}

ul {
    list-style: none;
}