article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  height: 700px;
  overflow: hidden; }

.headwrap {
  max-width: 100vw; }

.topbar {
  padding: 2% 0px; }

.topbar .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.topbar .flex ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0; }

.topelement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% / 3);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.top1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.top1 li {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75rem; }

.topelement a {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  color: black;
  text-decoration: none; }

.topelement a:hover {
  color: #888890; }

.topelement li {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.topelement li:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.top2 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.top2 img {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.top2 img:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05); }

.top2:hover {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  animation: vibrate-1 0.3s linear infinite both;
  -webkit-animation-delay: .1s;
  animation-delay: .1s; }

.top3 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.top3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 30%; }

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px); }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0); }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px); }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px); }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px); }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px); }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0); } }

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3))), url("/images/hero.png");
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3)), url("/images/hero.png");
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0.3)), url("/images/hero.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.3)), url("/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative; }

.headingheight {
  height: 60%;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center; }

.headtop {
  width: 95%; }

.headingheight .flex {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.headtop .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.headtop i {
  font-size: 2rem;
  -ms-flex-item-align: center;
  align-self: center; }

.headingwords h2 {
  color: #888890;
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 25px; }

.hero .flex ul {
  width: 100px;
  font-size: .75rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 50px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero .flex li,
.hero .flex i {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.hero .flex li:hover,
.hero .flex i:hover {
  color: #888890; }

.headingwords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.shopnow {
  background-color: #f07f84;
  width: 150px;
  line-height: 50px;
  text-transform: uppercase;
  color: white;
  font-size: .75rem;
  margin-top: 50px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.shopnow:hover {
  background-color: #d87378; }

.home {
  margin-top: 10%; }

.home .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 250px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.interior {
  background-image: url("/images/plant.png");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  height: 120px; }

.interior h3 {
  color: #a8edea;
  font-weight: normal; }

.interior h2 {
  margin-bottom: 15px;
  font-size: 2.5rem;
  font-weight: normal; }

.home .flex h4 {
  font-weight: normal;
  font-style: italic;
  color: #888890;
  margin-top: 5%; }

.home .flex span {
  font-weight: bold;
  font-style: normal;
  color: black; }

.home .flex p {
  text-align: center;
  color: #888890;
  max-width: 700px; }

.plants {
  width: 100%;
  height: 400px;
  margin-top: 10%; }

.airplant {
  width: calc(40% - 15px);
  background-image: url("/images/cacti.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  z-index: 2; }

.airplant:hover {
  margin-left: 15px;
  -webkit-box-shadow: -20px 0px 0px 0px #a8edea;
  -moz-box-shadow: -20px 0px 0px 0px #a8edea;
  box-shadow: -20px 0px 0px 0px #a8edea; }

.rightplants {
  width: 60%; }

.officeplant {
  width: calc(50% - 15px);
  background-image: url("/images/hanging.png");
  background-repeat: no-repeat;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.officeplant:hover {
  margin-top: -40px; }

.houseplant {
  width: 50%;
  background-image: url("/images/airplant.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.houseplant:hover {
  -webkit-transform: rotate(0.5turn);
  -ms-transform: rotate(0.5turn);
  transform: rotate(0.5turn); }

.plantbox {
  text-align: center;
  background-color: white;
  padding: 10px 25px; }

.plantbox h2 {
  font-weight: normal;
  font-size: 1.2rem; }

.plantbox h3 {
  color: #888890;
  font-weight: normal;
  font-size: .75rem; }

.plantwrap .flex .plantbox {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.plantwrap .flex:hover .plantbox {
  -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5); }

.plantstop {
  height: calc(50% - 15px);
  z-index: 2; }

.plants .flex {
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.plantwrap .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%; }

.rightplants .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.plantstop .flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.contplants {
  height: 50%;
  background-image: url("/images/pot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.contplants:hover {
  -webkit-box-shadow: -50px -50px 0px 50px #888890;
  -moz-box-shadow: -50px -50px 0px 50px #888890;
  box-shadow: -50px -50px 0px 50px #888890; }

.plantwrap .flex {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.popular {
  margin-top: 10%; }

.popular ul {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 400px;
  max-width: 60%;
  height: 30px; }

.popular li {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  line-height: 1.5; }

.popular li:hover {
  border-bottom: 1px black solid; }

.gallery {
  margin-top: 5%;
  text-align: center; }

.gallery .flex {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.galleryitem {
  width: calc((100% / 5) - 15px);
  height: calc((100% / 2) - 15px);
  margin-bottom: 5%; }

.galleryitem img {
  width: 100%;
  max-height: 100%; }

.imgcont {
  position: relative; }

.galleryoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.cart {
  visibility: hidden;
  background-color: white;
  max-width: 120px;
  padding: 10px 10px;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.galleryoverlay:hover {
  background-color: rgba(0, 0, 0, 0.568); }

.galleryoverlay:hover .cart {
  visibility: visible; }

.galleryoverlay .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%; }

.cart:hover {
  -webkit-box-shadow: 5px 5px black;
  box-shadow: 5px 5px black; }

.cart h3 {
  font-weight: 100;
  font-size: .8rem; }

.cart a {
  text-decoration: none;
  color: #888890; }

.cart a:hover {
  color: black; }

.aditional {
  -ms-flex-item-align: end;
  align-self: flex-end; }

.aditional h4 {
  font-weight: normal;
  font-size: .6rem;
  text-transform: uppercase; }

.hot {
  background-color: #ff9a9e; }

.new {
  background-color: #79dad6; }

.percent {
  background-color: #f6b895; }

.hot,
.new,
.percent {
  border-radius: 40%;
  color: white;
  margin: 6px;
  padding: 2px 7px;
  line-height: 1rem; }

.galtext {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.galtext h4 {
  font-size: .75rem;
  font-weight: normal; }

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 15px;
  width: 70%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.price h3 {
  color: #888890;
  text-decoration: line-through;
  font-size: .7rem;
  font-weight: normal; }

.price :first-child {
  color: black;
  text-decoration: none;
  font-size: .8rem; }

.customer {
  max-width: 100vw;
  height: 500px;
  margin-top: 5%; }

.customer .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%; }

.leftcustomer {
  background-color: #dddfed;
  width: 50%;
  padding: 7% 5% 10%;
  height: 100%;
  text-align: center; }

.leftcustomer .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.leftcustomer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #888890;
  font-size: 2rem;
  width: 180px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.leftcustomer li {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.leftcustomer li:hover {
  -webkit-transform: scale(1.75);
  -ms-transform: scale(1.75);
  transform: scale(1.75); }

.leftcustomer h2 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.7rem; }

.leftcustomer p {
  font-size: .8rem;
  font-style: italic; }

.leftcustomer h4 {
  font-weight: normal;
  color: #888890;
  font-size: .8rem;
  margin: 15px 0; }

.customerwords {
  height: 100%; }

.customerwords .flex {
  height: 85%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.rightcustomer {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/video.png");
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/video.png");
  background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/video.png");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/video.png");
  width: 50%;
  height: 100%;
  padding: 10% 5%;
  background-size: cover;
  background-position: center center;
  color: white;
  text-transform: uppercase; }

.rightcustomer .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.rightcustomer h3 {
  font-weight: normal;
  font-size: .75rem;
  letter-spacing: .3rem;
  margin-top: 10px; }

.play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f07f84;
  text-align: center;
  line-height: 65px;
  border: 7px solid #f07f8554;
  color: white;
  font-size: 1.5rem;
  background-clip: padding-box;
  margin-bottom: 40px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }

.play:hover {
  background-color: #b45f63;
  color: black;
  border: 7px solid #f07f84;
  background-clip: padding-box; }

.play i {
  -webkit-transform: scaleX(1.7);
  -ms-transform: scaleX(1.7);
  transform: scaleX(1.7);
  margin-left: 5px; }

.plantstore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.blog {
  margin-top: 10%; }

.blog img {
  width: 100%;
  border-top: 5px solid #e1e1e1; }

.blog .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.posts .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.postbox {
  width: calc((100% / 3) - 15px);
  position: relative;
  height: 400px; }

.postbox p {
  color: #888890;
  font-size: .8rem; }

.blogoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 55%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }

.postbox:hover .blogoverlay {
  background-color: rgba(255, 255, 255, 0.5); }

.postbox h4 {
  font-weight: 100;
  color: #888890;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.postbox:hover h4 {
  color: #363638; }

.postbox h2 {
  font-weight: 900; }

.blogtext {
  overflow: hidden;
  height: 120px;
  position: relative;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s; }

.blogtext p {
  visibility: hidden;
  margin-top: 10px; }

.postbox:hover .blogtext p {
  visibility: visible; }

.readmore {
  position: absolute;
  bottom: -40px;
  background-color: white;
  width: 300px;
  height: 65px; }

.readmore a {
  color: black; }

.postbox:hover .blogtext {
  height: 220px; }

.newsletter {
  margin: 5% 0px;
  text-align: center;
  height: 500px; }

.newsletter .sectiontitle {
  margin: 0; }

.newsletter .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.icons img {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

.icons img:hover {
  opacity: .5; }

.icons .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.newsletter p {
  color: #888890;
  width: 60%;
  font-size: .8rem; }

.newsletter input {
  width: 70%;
  border: none;
  color: #888890;
  font-size: .8rem;
  border-bottom: 1px #e6e5e1 solid; }

.newsletter form {
  position: relative; }

.newsletter span {
  position: absolute;
  right: 150px;
  bottom: 0; }

.icons a {
  margin-right: 10px; }

.icons a:last-child {
  margin-right: 0px; }

footer {
  border-top: 1px solid #e6e5e1;
  line-height: 1.5rem;
  padding-top: 5%; }

footer a {
  color: #888890;
  text-decoration: none;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }

footer a:hover {
  color: black; }

footer ul,
footer h3 {
  margin: 0;
  font-weight: normal;
  text-transform: capitalize; }

footer .undertitle {
  margin-top: 15px; }

.footwrap {
  width: 70%; }

.footwrap .flex {
  height: 350px; }

.footbreak,
.underbreak {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.over {
  width: 65%;
  padding: 0px 15px 0px 0px; }

.over .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.over p {
  color: #888890;
  font-size: .8rem; }

footer ul {
  font-size: .8rem;
  color: #888890; }

.over span {
  color: black;
  font-weight: bold; }

.info {
  width: 80%; }

.socialmedia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 60%; }

.socialmedia i {
  color: black;
  width: 10px;
  height: 10px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  font-size: 1.5rem; }

.socialmedia i:hover {
  color: #888890; }

.services {
  width: 50%; }

.services .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.services .undertitle {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.services:hover .undertitle {
  margin-left: 80px; }

.account {
  width: 50%; }

.account .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 60%;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.account .undertitle {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.account:hover .undertitle {
  margin-left: 80px; }

.instagram {
  padding: 0px 0px 0px 10px;
  width: 40%;
  height: 80%; }

.instagram .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 95%; }

.postbox h3 {
  margin: 0; }

.instabox {
  height: calc((70px * 2) + 17px);
  min-width: calc((70px *3) + 10px); }

.instabox .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; }

.instabox img {
  max-width: 100%;
  height: 70px;
  width: 70px;
  -o-object-fit: cover;
  object-fit: cover; }

.instagram h3 {
  margin: 0; }

.instabox img:hover {
  -webkit-animation: instawobble 0.8s ease-in-out;
  animation: instawobble 0.8s ease-in-out; }

@-webkit-keyframes instawobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  15% {
    -webkit-transform: translateX(-10px) rotate(-4deg);
    transform: translateX(-1px) rotate(-4deg); }
  30% {
    -webkit-transform: translateX(7px) rotate(4deg);
    transform: translateX(7px) rotate(4deg); }
  45% {
    -webkit-transform: translateX(-5px) rotate(-2.5deg);
    transform: translateX(-5px) rotate(-2.5deg); }
  60% {
    -webkit-transform: translateX(3px) rotate(1.7deg);
    transform: translateX(3px) rotate(1.7deg); }
  75% {
    -webkit-transform: translateX(-1px) rotate(-0.8deg);
    transform: translateX(-1px) rotate(-0.8deg); } }

@keyframes instawobble {
  0%,
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 20%;
    transform-origin: 50% 20%; }
  15% {
    -webkit-transform: translateX(-10px) rotate(-4deg);
    transform: translateX(-1px) rotate(-4deg); }
  30% {
    -webkit-transform: translateX(7px) rotate(4deg);
    transform: translateX(7px) rotate(4deg); }
  45% {
    -webkit-transform: translateX(-5px) rotate(-2.5deg);
    transform: translateX(-5px) rotate(-2.5deg); }
  60% {
    -webkit-transform: translateX(3px) rotate(1.7deg);
    transform: translateX(3px) rotate(1.7deg); }
  75% {
    -webkit-transform: translateX(-1px) rotate(-0.8deg);
    transform: translateX(-1px) rotate(-0.8deg); } }

.payment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-weight: normal; }

.payment {
  font-weight: normal; }

.payment img {
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.payment img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.instagram .undertitle {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.instagram:hover .undertitle {
  margin-left: 170px; }

.end {
  border-top: 1px solid #e6e5e1;
  margin-top: 5%; }

.end h4 {
  color: #888890;
  font-weight: normal;
  font-size: .75rem;
  margin: 0; }

.end a {
  color: black;
  text-decoration: none; }

.endwrap {
  width: 70%;
  padding: 2% 0px;
  margin: 0 auto; }

.end .flex {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.sectiontitle .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.sectiontitle h2 {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 25px; }

.titleline {
  background-color: #a8edea;
  width: 30px;
  height: 2px;
  float: left; }

section .undertitle :nth-child(even) {
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
  background-color: #f5efef; }

section:hover .undertitle :nth-child(even) {
  margin: 0px 200px;
  background-color: #a8edea; }

.sectiontitle {
  margin-bottom: 5%;
  text-transform: capitalize; }

body {
  background-color: white;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem; }

h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0 auto;
  padding: 0px; }

h1 {
  font-size: 3rem;
  text-transform: capitalize;
  font-weight: 400;
  color: #1e1e2a; }

.wrap, .headwrap, .footwrap, .mainwrap {
  margin: 0 auto;
  height: 100%; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mainwrap {
  width: 70%; }

ul {
  list-style: none; }

@media (max-width: 1060px) {
  .galleryoverlay .flex {
    height: 70%; }
  .postbox:hover .blogtext {
    height: 250px; }
  .newsletter span {
    right: 110px; } }

@media (max-width: 1000px) {
  .rightcustomer {
    padding-bottom: 5%; }
  .plantstore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; } }

@media (max-width: 920px) {
  .galleryoverlay .flex {
    height: 80%; }
  .mainwrap, .footwrap {
    width: 80%; }
  .payment {
    width: 115%; }
  .officeplant {
    background-position: center center; }
  .leftcustomer ul {
    margin-top: 25px; }
  .footwrap .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%; }
  .over {
    width: 100%;
    height: 300px; }
  .instabox .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
  .footbreak {
    height: 250px;
    margin-top: 5%; }
  .footbreak .flex {
    height: 80%; }
  .instagram .flex,
  .instagram {
    height: 100%; }
  .payment {
    width: 100%; }
  .endwrap {
    width: 90%; } }

/* Landscape phone to portrait tablet */
@media (max-width: 800px) {
  .galleryitem {
    width: calc((100% / 3) - 15px); }
  .galleryitem:last-child {
    display: none; }
  .posts .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .blogtext {
    height: 150px; }
  .postbox:hover .blogtext {
    height: 150px; }
  .postbox {
    width: 80%;
    height: auto;
    margin-bottom: 5%; }
  .postbox:last-child {
    margin-bottom: 0; }
  .blogtext p {
    visibility: visible; }
  .blogoverlay {
    height: 68%; }
  .icons .flex {
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .newsletter p {
    width: auto; }
  .customer {
    height: auto; }
  .customer .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .leftcustomer, .rightcustomer {
    width: 100%;
    height: 400px; }
  .plantstore {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 70%; }
  .rightcustomer .flex {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .mainwrap, .footwrap {
    width: 90%; }
  .shopnow {
    margin-top: 30px; }
  h1 {
    line-height: 1.2; }
  .top1 {
    width: 50%; }
  .top3 ul {
    width: 50%; } }

@media (max-width: 700px) {
  .newsletter span {
    right: 90px; }
  .blogtext {
    height: 190px; }
  .postbox:hover .blogtext {
    height: 190px; }
  .plantstore {
    width: 80%; }
  .underbreak {
    margin-bottom: 5%;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
  .footbreak {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .instagram {
    padding: 0px; }
  .foottitle {
    margin-bottom: 15px; }
  .account, .services {
    width: auto; }
  .icons .flex {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; } }

@media (max-width: 550px) {
  .plantstore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .rightcustomer {
    padding-top: 5%; }
  .top1 {
    width: 70%;
    margin-right: 15px; }
  section:hover .undertitle :nth-child(even) {
    margin: 0px 150px; }
  .galleryitem {
    width: calc((100% / 2) - 15px); }
  .galleryitem:last-child {
    display: block; }
  .galleryoverlay .flex {
    height: 60%; }
  .leftcustomer ul {
    margin-top: 0px; }
  .interior h2 {
    line-height: 1.2; }
  .instagram {
    width: 50%; }
  .top3 ul {
    width: 70%; } }

/* Landscape phones and down */
